<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class = "main-content">
      {{>header}}
      <h1>Point Park University Site for Sabrina</h1>

      <img src="DSC03435.jpg" alt="sabrina">
      <p>Name: {{name}}</p>
      <p>Bio: I'm from Pittsburgh, PA - and Italian/Greek. I am currently an Analytics Consultant at Bounteous, have about 4 side gigs I do for fun(blog, market research groups, and resale furniture I DIY, etc), and also I am a social media manager for a local boutique.</p>
      <p>Major: Information Technology & Digital Marketing
      <p>Career Aspirations: Data Scientist & CEO. I see myself being happy in really any environment as long as it involves data, marketing, or social media type work. Ideal roles I see myself in are Product Manager, Social Media Manager, Digital Marketing Coordinator, Data Scientist/Analytics, Consumer Insights Specialist, and so on.
        I like consulting roles, but also see myself at companies that have a product (financial, retail, or software based).</p>

      {{>footer}}
  </body>
</html>
