<!DOCTYPE html>

<html>
<head>
    <title>Support</title>
    <link rel="icon" href="img/support.jpg">
    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class = "main-content">
      {{>header}}
      <p>Point Park University Site for Weather</p>

      <p>Support Hours</p>
      <p>{{supportHours}}</p>
      <p>{{supportType}}</p>
      <p>{{supportContact}}</p>
      <p>{{supportEmail}}</p>

      {{>footer}}
  </body>
</html>
